body{
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron{
    padding-top: 6rem;
    background-color: #a39cff;
}

span{
    color: #840cd4;
}

#skills{
    background-color: #a39cff;
}

section{
    padding-top: 5rem;
}